body{
  margin: 0;
  background-color: navy;
  box-sizing: content-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
}

.header-cont{
  margin: 0;
  background-color: white;
}

a{
  color: black;
}

.nav{
  display: inlinel
}

.header-cont ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header-cont ul a{
  display: block;
  outline: 1px solid red;
  padding: 20px;
  border-right: 1px solid grey;
}